<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
<div class="container">
    <h2>Register</h2>
    <form action="/auth/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="role">Role:</label>
        <input type="text" id="role" name="role" required>

        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/templates/login.html">Login here</a>.</p>
</div>
</body>
</html>